extends layout.pug

block content
  div(class='content')
    p
      a(href='/datadmindoe') dat admin doe
    if section === 'main'
      ul
        li
          a(href='/datadmindoe/post') Posts
        li
          a(href='/datadmindoe/assets') Assets


    if section === 'post'
      form(role='form', name='blogpost', method='post')
        div(class='row')
          label(for='post_title') Post Title:
          input(id='post_title', name='post_title')
        div(class='row')
          label(for='post_content') Post Content:
          textarea(id='post_content', name='post_content')
        div(class='row')
          input(type='submit')

    if section === 'assets'