extends layout.pug

block content
  div(class='content')
    h1 Create a New Character

    div(id='create-character')
      div(class='content-left')
        canvas(id='character')
      div(class='content-right')
        form(class='form')
          div(class='row')
            label(for='character-name') Name
            input(type='text', name='character-name', id='character-name')
          div(class='row')
            label(for='character-sex') Sex
            select(name='character-sex', id='character-sex')
              each sex in sexes
                option(value=''+sex.id+'') #{sex.name}
          div(class='row')
            label(for='character-race') Race
            select(name='character-races', id='character-race')
              each race in races
                option(value=''+race.id+'') #{race.name}
          div(class='row')
            label(for='character-class') Class
            select(name='character-class', id='character-class')
              each cClass in classes
                option(value=''+cClass.id+'') #{cClass.name}
          div(class='row submit')
            input(type='submit', value='Create')
      div(class='clear')

  script(src='js/character.js')
  script.

    var stats = new Stats();
    stats.setMode( 1 ); // 0: fps, 1: ms, 2: mb

    // align top-left
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';

    document.body.appendChild( stats.domElement );

    var update = function () {

        stats.begin();

        // monitored code goes here

        stats.end();

        requestAnimationFrame( update );

    };

    requestAnimationFrame( update );