doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js')
    script.
      $(document).ready(function() {
        $('#input input').keydown(function(event) {
          if (event.which === 13) {
            var msg = $(this).val();
            $(this).val('');
            EO.server.socket.emit('chat', { message: msg });
          }
        });
      });

  body(class='game')
    div(id='menubar')
      div(id='logo') eo4ev-r
      if (user)
        | Logged in as
        a(href='/') #{user.username} |
        a(href='/logout') Logout
      else
        a(href='/account') My Account
    div(id='container')
      