extends gamehead.pug

block content
  div(id='menubar')
    div(id='logo') eo4ev-r
    a(href='/account') My Account
    a(href='/logout') Logout
  div(id='container')
    canvas(id='gamecanvas')
    div(id='status')
      div(id='feed')
      div(id='input')
        input(type='text')

  script(src='js/engine.js')
  script.

    var stats = new Stats();
    stats.setMode( 1 ); // 0: fps, 1: ms, 2: mb

    // align top-left
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';

    document.body.appendChild( stats.domElement );

    var update = function () {

        stats.begin();

        // monitored code goes here

        stats.end();

        requestAnimationFrame( update );

    };

    requestAnimationFrame( update );