doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    if admin === true
      link(rel='stylesheet', href='/css/admin.css')
    
    script(src='js/lib/jquery.min.js')
    if scripts === 'game'
      script(src='js/lib/three.js')
      script(src='js/lib/threex.keyboardstate.js')
      script(src='js/lib/TrackballControls.js')
      script(src='js/lib/Stats.js')
      script(src='/socket.io/socket.io.js')
      script.
        $(document).ready(function() {
          $('#input input').keydown(function(event) {
            if (event.which === 13) {
              var msg = $(this).val();
              $(this).val('');
              EO.server.socket.emit('chat', { message: msg });
            }
          });
        });
    if scripts === 'character'
      script(src='js/lib/three.js')
      script(src='js/lib/Stats.js')

  body(class='game')
    div(id='menubar')
      div(id='logo')
        a(href='/') Eo Forever
      if (user)
        a(class='menu-item', href='/account') Logged in as #{user.username} | My Account
      else
        a(class='menu-item', href='/account') Login
    div(id='container')
      block content