form .row {
  margin-bottom:12px;
}
form label {
  display:block;
  margin-bottom:4px;
}
form input,
form textarea {
  display:block;
  font-size:16px;
  width:100%;
  padding:7px;
}
form textarea {
  min-height:280px;
}
form input[type='submit'] {
  width:200px;
  display:block;
  -webkit-appearance:none;
  cursor:pointer;
}

#current-assets .asset-row {
  padding:24px 0;
  margin-top:12px;
  border-top:1px solid #ccc;
}

.editor-panel .tile-container {
  height:240px;
  overflow-y:scroll;
}
.editor-panel {
  width:300px;
  height:300px;
  position:fixed;
  right:24px;
  top:24px;
  background:#000;
  border:2px solid #fff;
  padding:4px;
}
.editor-panel .single-tile {
  width:64px;
  height:64px;
  float:left;
}
.editor-panel .single-tile img {
  display:block;
  width:64px;
  height:64px;
}
.editor-panel .single-tile.active img {
  border:2px inset;
}
