form .row {
  margin-bottom:12px;
}
form label {
  display:block;
  margin-bottom:4px;
}
form input,
form textarea {
  display:block;
  font-size:16px;
  width:100%;
  padding:7px;
}
form textarea {
  min-height:280px;
}
form input[type='submit'] {
  width:200px;
  display:block;
  -webkit-appearance:none;
  cursor:pointer;
}