/*
 * Global 
 */
*, *:before, *:after {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}
html, body {
  margin:0;
  padding:0;
  font-size:16px;
  color:#fff;
}
body.game {
  background:url('../img/gui/background.jpg');
  background-position:center top;
  background-repeat:no-repeat;
}
#menubar {
  width:1200px;
  margin:0 auto;
  text-align:right;
  top:0;
  height:58px;
  padding-top:16px;
}
#menubar #logo {
  float:left;
}
#menubar #logo a {
  font-size:24px;
  color:#fff;
}
#menubar a {
  color:#fff;
  font-size:16px;
  text-decoration: none;
  display:inline-block;
}
#menubar a.menu-item {
  margin-left:12px;
  margin-top:8px;
}

#container {
      position:relative;
      display:block;
      margin:auto;
      width:1200px;
      height:600px;
      border:1px solid silver;
      background: rgba(25, 25, 25, 0.49);
      color: #B0BDB4;
    }
    #gamecanvas {
      margin:auto;
      display:block;
      cursor:none;
      width:800px;
      height:600px;
      background:#ccc;
      position:absolute;
      left:0;
      top:0;
      outline:none;
    }
    #status {
      position:absolute;
      width:400px;
      height:600px;
      right:0;
      top:0;
      background:#000;
    }

#feed::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
  border-radius: 0px;
  background-color: #340100;
}

#feed::-webkit-scrollbar
{
  width: 6px;
  background-color: #340100;
}

#feed::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(90deg,
                        transparent,
                        rgba(0, 0, 0, 0.4) 50%,
                        transparent,
                        transparent)
}
    #feed {
      position:absolute;
      top:0;
      left:0;
      width:400px;
      height:560px;
      overflow-y:scroll;
      color:#fff;
      padding:9px;
    }
    #feed div {
      word-wrap: break-word;
    }
    #input {
      position:absolute;
      width:400px;
      height:40px;
      bottom:0;
      background:#fff;
    }
    #input input {
      width:100%;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      border:0;
      font-size:16px;
      padding:9px;
      outline:none;
    }

.content {
  padding:24px;
  height:600px;
  overflow-y:scroll;
}
.content article {
  border-top:1px solid #B0BDB4;
  padding-top:24px;
}
.content article .post-title {
  font-size:24px;
  font-weight:bold;
}
.content article .post-meta {
  font-size:14px;
}
.content article header {
  margin-bottom:24px;
}
.content a {
  color:#2BA6BD
}
form.form {
  width:400px;
  margin:0 auto;
}
form.form .row {
  margin-bottom:12px;
}
form.form .row label {
  display:block;
}
form.form .row input {
  display:block;
  width:100%;
  padding:7px;
  font-size:16px;
}
form.form .row select {
  -webkit-appearance:none;
  display:block;
  width:100%;
  font-size:16px;
  padding:7px;
}
form.form .row.submit {
  margin-top:24px;
}
form.form .row.submit input {
  display:block;
  cursor:pointer;
  -webkit-appearance:none;
}

.clear {
  clear:both;
}

/*
 * Character Creation
 */
#create-character .content-left,
#create-character .content-right {
  width:50%;
  float:left;
}
canvas#character {
  width:500px;
  height:400px;
  float:right;
}
